[Unit]
Description=foodfightbot
Requires=docker.service
After=docker.service

[Service]
Environment=DEVELOPER_ID=
Environment=TOKEN=
Restart=always
ExecStartPre=-/usr/bin/docker stop foodfightbot
ExecStartPre=-/usr/bin/docker rm foodfightbot
ExecStartPre=-/usr/bin/docker volume create --name dbdata
ExecStartPre=/usr/bin/docker pull registry.digitalocean.com/tutorhelp/foodfightbot:latest
ExecStart=/usr/bin/docker run --name foodfightbot -e DEVELOPER_ID=${DEVELOPER_ID} -e TOKEN=${TOKEN} -v dbdata:/app/data/ registry.digitalocean.com/tutorhelp/foodfightbot:latest
ExecStop=/usr/bin/docker stop foodfightbot

[Install]
WantedBy=multi-user.target